# LiveKit Configuration
LIVEKIT_URL=wss://marvel-ydp1lqmi.livekit.cloud
LIVEKIT_API_KEY=APIS63ADV6QHkAB
LIVEKIT_API_SECRET=GOS8Mi6AeZ0AeyCYQkV18pXfLeZeLbv3fL42g8G4AlLL
LIVEKIT_ROOM_NAME=voice-assistant-room
#GOOGLE_API_KEY=AIzaSyCH30CRGKMx6i6gBErTf57lrpJYEl-VP9o#
GOOGLE_API_KEY=AIzaSyAd-NP-52yg02fzJ_JZxXIeqSH6jgu4eB4
LIVEKIT_SANDBOX_ID=sandbox dowhistleai-2gkx96


# Server Configuration
HOST=0.0.0.0
PORT=8000
